@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yu Gothic', 'YuGothic',
        "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "メイリオ", "Meiryo",
        "MS Pゴシック",
        "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}

body {
    font-size: min(18px, 4vw);
    background-color: #e0e0e0;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0;
    text-align: center;
    background-color: #2d3985;
    color: white;
}

.alert_text {
    color: red;
    font-size: 0.8em;
    padding: 5px 2%;
}

/* ============== ローディング画面 ============== */

.loading {
    /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
    width: 100vw;
    height: 100vh;
    /*ローディング画面の表示位置を固定*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #555;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*ローディング画面を0.5秒かけて非表示にする*/
    transition: all 0.5s linear;
}

/*ローディング画面を非表示にする*/
.loading.loaded {
    /*0.5秒かけてopacityを0にする*/
    opacity: 0;
    visibility: hidden;
}

.loading-text {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.spinner {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #FFF;
    border-left-color: #222;
    /* アニメーションを1秒かけて実行 */
    animation: spinner-rotation 1s linear infinite;
}

/* アニメーションの設定 */
@keyframes spinner-rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text {
    color: #333;
}

/* ============== 再生ボタン等のあるブロックのスタイル ============== */
#bottom_menu {
    background-color: white;
    border-top: 1px solid #2d3985;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
}

/* 再生ボタン周辺のスタイル */
#player {
    display: flex;
    justify-content: center;
    align-items: center;

}

#player button {
    background-color: white;
    border: 1px solid #2d3985;
    border-radius: 50%;

    width: 45px;
    height: 45px;
    margin: 0 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

button#play_and_pause {
    width: 60px;
    height: 60px;
}

button#play_and_pause:disabled {
    background-color: #dddddd;
    color: #b0b0b0;
    cursor: not-allowed;
    border: none;
}

button#play_and_pause:disabled svg {
    fill: #b0b0b0;
}

#player button svg {
    width: 25px;
    height: 25px;
    fill: black;
    /* SVGの色を黒に設定 */
    transition: fill 0.3s;
}

button#repeat svg {
    fill: #888;
}

button#repeat.active {
    background-color: #4e5aad;
}

button#repeat.active svg {
    fill: white;
}

button#play_and_pause svg {
    transform: scale(1.25);
}

@media (hover: hover) and (pointer: fine) {
    #player button:hover {
        background-color: #2d3985 !important;
        color: white;
    }

    #player button:disabled:hover {
        background-color: #dddddd !important;
    }

    #player button:hover svg {
        fill: white;
        /* ホバー時にSVGの色を白に変更 */
    }

    #player button:disabled:hover svg {
        fill: #b0b0b0 !important;
    }
}

/* 一時停止ボタンを非表示 */
#pause {
    display: none;
}

/* プログレスバーのスタイル */
.progress_bar_container {
    width: 100%;
    text-align: center;
}

#progress_bar {
    width: 90%;
}

.inputRange {
    appearance: none;
    width: calc(90% - 3em);
    height: 5px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    cursor: pointer;
}

/* ツマミ：Chrome, Safari, Edge用 */
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2d3985;
    box-shadow: none;
}

/* ツマミ：Firefox用 */
.inputRange::-moz-range-thumb {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2d3985;
    box-shadow: none;
}

/* ツマミ:disabledの時 */
.inputRange:disabled::-webkit-slider-thumb {
    background: #b0b0b0;
    cursor: not-allowed;
}

.inputRange:disabled::-moz-range-thumb {
    background: #b0b0b0;
    cursor: not-allowed;
}

/* 再生時間の表示 */
.player_container {
    color: #444444;
    width: 100%;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
}

/* ============== タブメニューのCSS ============== */
.tab_wrap {
    width: 100%;
    margin-top: 10px;
}

input[type="radio"] {
    display: none;
}

.tab_area label {
    width: 30%;
    display: inline-block;
    padding: 10px 0;
    color: #000;
    background: #aaa;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    transition: ease 0.2s opacity;
}

@media (hover: hover) and (pointer: fine) {
    .tab_area label:hover {
        opacity: 0.5;
    }
}

.tab_panel {
    width: 100%;
    opacity: 0;
    padding: 10px 0;
    display: none;
}

.panel_area {
    background: #f5f5f5;
}

#tab1:checked~.tab_area .tab1_label {
    background: #f5f5f5;
    color: #000;
}

#tab1:checked~.panel_area #panel1 {
    display: block;
    animation: tabAnim ease 0.6s forwards;
    -ms-animation: tabAnim ease 0.6s forwards;
}

#tab2:checked~.tab_area .tab2_label {
    background: #f5f5f5;
    color: #000;
}

#tab2:checked~.panel_area #panel2 {
    display: block;
    animation: tabAnim ease 0.6s forwards;
    -ms-animation: tabAnim ease 0.6s forwards;
}

#tab3:checked~.tab_area .tab3_label {
    background: #f5f5f5;
    color: #000;
}

#tab3:checked~.panel_area #panel3 {
    display: block;
    animation: tabAnim ease 0.6s forwards;
    -ms-animation: tabAnim ease 0.6s forwards;
}

@keyframes tabAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ============== 音声の設定のCSS ============== */
.setting_panel {
    padding: 10px 3vw;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    text-align: center;
    transition: background 0.3s;
}

h2 {
    margin: 0 3%;
    font-size: 1.2em;
}

h3 {
    text-align: left;
    margin: 5px 2%;
    font-size: 1em;
}

input[type="text"] {
    width: 3em;
    padding: 5px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
}

input[type="text"]:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

select {
    width: 90%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #b0b0b0;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.range_label {
    text-align: left;
    padding-left: 1em;
}

.mute {
    background-color: white;
    border: 1px solid #2d3985;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}
.mute svg {
    width: 25px;
    height: 25px;
    fill: #888;
    /* SVGの色を黒に設定 */
    transition: fill 0.3s;
    transform: scale(0.6);
}

button.mute.active {
    background-color: #4e5aad;
}

button.mute.active svg {
    fill: white;
}

button.mute[disabled] {
    background-color: #dddddd;
    color: #b0b0b0;
    cursor: not-allowed;
    border: none;
}

button.mute[disabled] svg {
    fill: #b0b0b0;
}

.solo {
    background-color: white;
    color: #888;
    border: 1px solid #2d3985;
    border-radius: 10px;

    height: 30px;
    margin: 0 5px;
    padding: 0 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

button.solo.active {
    background-color: #4e5aad;
    color: white;
}

@media (hover: hover) and (pointer: fine) {
    .setting_panel button:hover {
        background-color: #2d3985;
        color: white;
    }

    .setting_panel button:hover svg {
        fill: white;
    }

    .setting_panel button[disabled]:hover {
        background-color: #dddddd;
    }

    .setting_panel button[disabled]:hover svg {
        fill: #b0b0b0;
    }
}

.setting_panel.muted {
    background-color: #f5f5f5;
}

.setting_panel .buttons {
    display: flex;
    padding: 0 3%;
}

#volume_is_too_high {
    display: none;
}

.info {
    font-size: 0.7em;
    padding: 0 3%;
}

/* ============== footerのCSS ============== */
footer {
    padding: 10px 5%;
    background-color: #5c5c5c;
    color: white;
    font-size: 0.8em;
}

footer li {
    list-style: none;
    margin: 0 10px;
}

footer a {
    color: white;
}

footer p {
    margin: 5px 0;
}